$dark: #262626;
$white: #c0d3ef;
$blue: #20457c;
$fawn: #e6aa68;
$dark-navy: #001427;

@mixin dark-theme {
  background: url(~/../../assets/dark.png) $dark;

  header {
    background: rgba(lighten($dark, 0.8), 0.66);
    color: $white;

    h1 {
      transition: text-shadow 0.3s ease-in;
      margin-bottom: 0.25em;
    }

    h2 {
      margin-top: 0;
    }
  }

  .toggle-icon {
    padding: 0.8em;
    background-color: rgba(darken($dark, 0.1), 0.7);
    border-radius: 50%;
    transition: background-color, 2s, ease-in-out;

    &:hover {
      background-color: rgba(lighten($dark, 0.8), 0.85);
    }

    &:not(:hover) {
      .icon {
        animation-play-state: paused;
      }
    }
  }

  .icon {
    color: $fawn;
    transition: color, 0.8s, ease-out;
    animation: spin 10s linear infinite;
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
