$dark: #262626;
$beige: #ecdfbd;
$navy: #20457c;
$dark: #262626;
$fawn: #e6aa68;
$dark-navy: #001427;

@mixin dark-theme {
  background: url(~/../../assets/dark.png) $dark;

  .toggle-icon {
    padding: 0.8em;
    background-color: rgba(darken($dark, 0.1), 0.7);
    border-radius: 50%;
    transition: background-color, 2s, ease-in-out;

    &:hover {
      background-color: rgba(lighten($dark, 0.8), 0.85);
    }

    &:not(:hover) {
      .icon {
        animation-play-state: paused;
      }
    }
  }

  .icon {
    color: $fawn;
    transition: color, 0.8s, ease-out;
    animation: spin 10s linear infinite;

    &:hover {
      color: darken($beige, 10%);
    }
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
