$light: #dbe2fd;
$complement: #dbe2fd;
$white: #fefdfb;
$blue: #59588b;
$dark-blue: #302f6e;
$black: #000b20;
$softer: #fae596;
$soft: #f7d34d;
$glow: #f77e4d;

@mixin light-theme {
  color: $black;
  background: url(~/../../assets/light.png) $light;

  header,
  .toggle-icon {
    backface-visibility: hidden;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    border-radius: 8px;
    background-color: $softer;
    border: 2px solid $glow;
    transform: translateZ(0);
    transition: transform 0.5s ease-out;

    &:hover {
      transform: translateY(-0.2em);
    }
  }

  .toggle-icon {
    padding: 0.5em;

    &:hover .icon {
      color: lighten($dark-blue, 20%);
    }
  }

  .icon {
    color: $dark-blue;
    font-weight: bolder;
    transition: color, 2s, ease-in-out;
  }
}
