$light: #dbe2fd;
$complement: #dbe2fd;
$white: #fefdfb;
$dark-blue: #4a0084;
$black: #000b20;
$softer: #fae596;
$soft: #f7d34d;
$glow: #f77e4d;

@mixin light-theme {
  color: $black;
  background: url(~/../../assets/light.png) $light;

  header {
    color: $dark-blue;
    padding: 2em;
    left: 5%;
    width: 90%;

    &.open {
      left: 0;
      width: 100%;
      border-radius: 0;
      border-top: 0;
      border-right: 0;
      border-left: 0;

      &:hover {
        transform: none !important;
      }

      h1 {
        margin: 0;
        transition: text-shadow 300ms ease-in-out;

        &:hover {
          text-shadow: 0 0 10px $soft;
        }
      }
    }

    h1,
    h2 {
      margin: auto 0.1em;
    }

    nav {
      font-weight: 400;

      li {
        padding: 0.25em 0.75em;
        margin: auto 0.3em;
        border-radius: 8px;
        background-color: transparent;
        transition: 300ms background-color ease;

        &.active {
          transition: none;
        }

        &:hover,
        &.active {
          background-color: $soft;
          color: $black;
        }

        &:before {
          content: "/";
        }
      }
    }
  }

  header,
  .toggle-icon {
    backface-visibility: hidden;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    border-radius: 8px;
    background-color: $softer;
    border: 2px solid $glow;
    transform: translateZ(0);
    transition: transform 0.5s ease-out;

    &:hover {
      transform: translateY(-0.2em);
    }
  }

  .toggle-icon {
    padding: 0.5em;

    &:hover .icon {
      opacity: 0.8;
    }

    .icon {
      color: $dark-blue;
      font-weight: bolder;
      transition: opacity 300ms ease-in-out;
    }
  }

  article {
    background-color: $white;
    transition: opacity 200ms ease;
    color: $black;
    height: 0;

    a {
      color: $dark-blue;
      transition: opacity 300ms ease-in-out;

      &:hover {
        opacity: 0.8;
      }
    }
  }

  @media only screen and (min-width: 800px) {
    header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-align: left;
      width: 70%;
      left: 15%;
    }
  }

  @media only screen and (max-width: 800px) {
    nav {
      margin-top: 1.25em;
      width: 100%;
    }

    header.open {
      padding: 0;

      h1 {
        margin-top: 0.25em;
        margin-bottom: 0;
      }

      nav {
        margin-bottom: 1em;
      }
    }
  }
}
