@import "./helpers";
@import "./theme/dark";
@import "./theme/light";

@import url("https://fonts.googleapis.com/css?family=Nunito");
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700");

$font-header: "Nunito", sans-serif;
$font-normal: "Roboto Slab", serif;

body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 1em;
  vertical-align: baseline;
  font-family: $font-normal;
  transition: background 500ms ease;

  &.dark {
    @include dark-theme;
  }

  &:not(.dark) {
    @include light-theme;
  }
}

#{h(1,6)} {
  font-family: $font-header;
}
